* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #a7a7a7;
}

.paper {
  background-color: #ffffff;
  width: 21.0cm;
  height: 27.0cm;
  margin: 10px auto;
}

.title {
  width: 85%;
  font-size: 32px;
  text-align: right;
  margin-bottom: 150px;
  padding-top: 40px;
  margin-top: 20px;
}

.cite {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

article p {
  width: 85%;
  margin: 0px auto;
}

article h2 {
  width: 85%;
  margin: 20px auto;
}

.vertspaceI {
  height: 360px;
}

.vertspaceII {
  height: 200px;
}

.vertspaceIII {
  height: 20px;
}

.vertspaceIV {
  height: 520px;
}

.vertspaceV {
  height: 640px;
}
.pagenumber {
  font-weight: bold;
  text-align: center;
}

.titlerep {
  padding-top: 20px;
  margin-left: 7.5%;
  margin-bottom: 20px;
}